PUBLIC_SITE_URL=https://trailblazer.advancedanalytica.co.uk
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DISNEY_PIPELINE_INBOX_DIR=/tmp/trailblazer-submissions
DISNEY_PIPELINE_INGEST_URL=
DISNEY_IMAGE_MATCHER_URL=
DISNEY_IMAGE_MATCHER_SCAN_URL=
DISNEY_IMAGE_MATCHER_UPLOAD_URL=
DISNEY_IMAGE_MATCHER_API_KEY=
PREFECT_TRIGGER_API_URL=
PREFECT_UI_PUBLIC_URL=http://188.166.152.62:4200
PREFECT_DISNEY_PROMPT_APPROVER_RUN_URL=
PREFECT_DISNEY_COMPLIANCE_RUN_URL=
PREFECT_TRIGGER_API_KEY=
DISNEY_SUBMITTED_ARTIFACTS_BUCKET=
DISNEY_SUBMITTED_ARTIFACTS_ENDPOINT_URL=
DISNEY_SUBMITTED_ARTIFACTS_REGION=lon1
DISNEY_SUBMITTED_ARTIFACTS_ACCESS_KEY_ID=
DISNEY_SUBMITTED_ARTIFACTS_SECRET_ACCESS_KEY=
DISNEY_SUBMITTED_ARTIFACTS_KEY_PREFIX=submissions
PREFECT_DOCUMENT_SOURCE_BLOCK_NAME=aa-disney-submitted-artifacts-do
TRAILBLAZER_RECEIVED_EMAIL_ENABLED=true
TRAILBLAZER_RECEIVED_EMAIL_RECIPIENTS=jonathan@advancedanalytica.co.uk,claire.wadham@advancedanalytica.co.uk
TRAILBLAZER_RECEIVED_EMAIL_CC=
TRAILBLAZER_RECEIVED_EMAIL_PREFECT_LINK_RECIPIENTS=jonathan@advancedanalytica.co.uk
TRAILBLAZER_RECEIVED_EMAIL_FROM=results@advancedanalytica.co.uk
TRAILBLAZER_RECEIVED_EMAIL_FROM_NAME=Advanced Analytica
TRAILBLAZER_RECEIVED_EMAIL_AWS_REGION=eu-west-2
TRAILBLAZER_RECEIVED_EMAIL_AWS_ACCESS_KEY_ID=
TRAILBLAZER_RECEIVED_EMAIL_AWS_SECRET_ACCESS_KEY=
TRAILBLAZER_RECEIVED_EMAIL_AWS_SESSION_TOKEN=
DISNEY_COMPLIANCE_API_URL=
DISNEY_COMPLIANCE_AUDIT_URL=
DISNEY_COMPLIANCE_API_KEY=
